[user]
    name = Tom Zhou
    email = zhouqt@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = /usr/bin/less -m -g -i -J --underline-special --SILENT -F -X
[color]  # Ensure we get color
    #ui = always
    branch      = auto
    diff        = auto
    grep        = auto
    interactive = auto
    status      = auto
[push]
    default = current
    followTags = true
[alias]
    a   = add
    ai = add -i
    b   = branch
    c   = commit
    d   = diff
    co  = checkout
    cp = cherry-pick
    dt  = difftool -M
    dtc = difftool -M --cached
    des = describe --tags
    l   = log --oneline
    lc  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative
    la  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative --all
    m   = merge
    mt  = mergetool
    pl  = pull
    plm = pull --no-ff
    pu  = push
    s   = status -sb
    t   = tag
    untrack = rm -r --cached
    merge-branch-file = checkout --merge
    rb  = rebase
    undo = reset HEAD --hard
    up = remote update --prune
    ur = pull --rebase
    ut = rm -r --cached
    w  = show
    wc = whatchanged -1
    # https://stackoverflow.com/questions/2919878/git-rewrite-previous-commit-usernames-and-emails
    # git change-commits GIT_AUTHOR_NAME "old name" "new name"
    # git change-commits GIT_AUTHOR_EMAIL "old@email.com" "new@email.com" HEAD~10..HEAD
    change-commits = "!f() { VAR1=$1; VAR='$'$1; OLD=$2; NEW=$3; echo \"Are you sure for replace $VAR $OLD => $NEW ?(yes/no)\";read OK;if [ \"$OK\" = 'yes' ] ; then shift 3; git filter-branch --env-filter \"if [ \\\"${VAR}\\\" = '$OLD' ]; then export $VAR1='$NEW';echo 'to $NEW'; fi\" $@; fi;}; f "

    bisect-fixed   = bisect bad
    bisect-unfixed = bisect good
[diff]
    tool = vimdiff
[branch]
    ;autosetuprebase = remote
[status]
    submoduleSummary = true
[sendemail]
    confirm = always
    suppresscc = self
    thread = true
    chainreplyto = false
    bcc = zhouqt@gmail.com
    smtpserver = /usr/bin/msmtp
    smtpserveroption = "--account=gmail"
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
